<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Alexandra Scharpf">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Alexandra Scharpf's professional website">
    <title>Alexandra Scharpf</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/templates.css">

</head>
<body style="font-family: Arial " onload="addYear()"> 
    <header> 
        <h1 id="webname">Alexandra Scharpf</h1>
        <nav> 
            <a href="../index.html" >about</a> 
            <a href="cvcopy.html" >resume</a> 
            <a href="funcopy.html">play</a>     
            <a href="contactcopy.html">contact</a> 
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Chagrin Falls High School</td>
                <td>Graduated in the Spring of 2024 with Summa Cum Laude honors</td>
            </tr>
            <tr>
                <td>Carnegie Mellon Univeristy</td>
                <td>Expected to graduate in the Spring of 2028 with a degree in Information Systems</td>
            </tr>
            <tr>
                <td>Emerging Leaders</td>
                <td>Used GIS to help 412 Food Rescue expand their business</td>
            </tr>
            <tr>
                <td>Swim Instructor</td>
                <td>Taught young children important swim and water saftey techniques</td>
            </tr>
        </table>
        <a href="../static/AlexandraScharpf_Resumecopy.pdf" target="_blank">My Resume (pdf)</a> 
    </div>
    <footer>
        <p id="footNote">designed &#127912; and coded &#x1F469;&#x1F3FB;&#x200D;&#x1F4BB; by Alexandra Scharpf &copy;</p>
        <p id="copyYear"></p>
    </footer>
</body>
</html>