<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Alexandra Scharpf">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Alexandra Scharpf's professional website">
    <title>Alexandra Scharpf</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body style="font-family: Arial">
    <header> 
        <h1 id="webname">Alexandra Scharpf</h1>
        <nav> 
            <a href="../index.html" >about</a> 
            <a href="cvcopy.html" >resume</a> 
            <a href="funcopy.html">play</a>     
            <a href="contactcopy.html">contact</a> 
        </nav>
    </header>
    <div class="main">
        <h2>Things I love to do for Fun</h2>
        <ul>
            <li>Swimming</li>
            <li>Hiking</li>
            <li>Baking/Cooking</li>
            <li>Jigsaw Puzzles</li>
            <li>Piano</li>
        </ul>
    </div>
    <footer>
        <p>&copy; 2025 designed &#127912; and coded &#x1F469;&#x1F3FB;&#x200D;&#x1F4BB; by Alexandra Scharpf</p>
    </footer>
</body>
</html>