<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="template">
    <title>Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/templates.css">
</head>
<body>
    <div class="containers">
        <header class="header">
            <h1>Alexandra's Website</h1>
        </header>
        <nav class="nav">
            <p>Nav goes here</p>
        </nav>
        <main>
            <div class="mainimg">
                <p>Image goes here</p>
            </div>
            <div class="maincontent">
                <p>Content goes here</p>
            </div>
        </main>
        <footer class="footer">
            <p>footer</p>
        </footer>
    </div>
</body>
</html>