*{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    padding: 5px;
    margin: 5px;
}

/*ul {
    display: none;
}*/

/*#btn {
    display: block;
}

#readMore{
    display: block;
}

#readLess{
    display: none; 
} */

#webname {
    background-color: #DE6FB9;
  }

#footNote, #copyYear {
    display: inline-block; 
    margin: 0;
    padding: 0;
  }

#longBio{
    display: none;
}

#response{
    text-align: center;
}

nav a {
    text-decoration: None;
    color: #DE6FB9;
    margin-right:15px;
}

table{
    table-layout: auto;
    width: fit-content;
}
th{
    color:white;
    background-color:gray;
    padding: 12px;
}
tr:nth-child(even) {
    background-color: lightgrey;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

input[type=submit]{
    background-color: gray;
    border: none;
    border-radius:25px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    text-align: center;
}

.funIMG {
    border-radius: 100%;
    padding-left: 20 px;
}

.video {
    border-radius: 8px;  
    display: block;      
}

.container{
    border-radius: 10%;
    display: inline-block;
    box-shadow: 10px 10px 15px #DE6FB9;
}

#adviceBtn {
    border-radius: 50%;
    display: block;

}


.mainLayout {
    display: flex;
    flex-direction: row;  
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    gap: 20px; 
}


.item1, .item2, .item3, .item4 {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;     
    border-radius: 5px;
    font-size: 24px;
    width: 50%; 
    height: 50%; 
}

