*{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    padding: 5px;
    margin: 5px;
}

ul {
    display: none;
}

button {
    display: block;
}

#webname {
    background-color: #DE6FB9;
  }

nav a {
    text-decoration: None;
    color: #DE6FB9;
    margin-right:15px;
}

table{
    table-layout: auto;
    width: fit-content;
}
th{
    color:white;
    background-color:gray;
    padding: 12px;
}
tr:nth-child(even) {
    background-color: lightgrey;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

input[type=submit]{
    background-color: gray;
    border: none;
    border-radius:25px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    text-align: center;
}